@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}

#section1{
    background-image: url(31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#section1 img{
    margin-left: 50px;
    margin-top: -5px;
    animation-name: ljwhiteanimation;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes ljwhiteanimation{
    from{
        left: 0%;
        opacity: 0%;
    }

    to{
        left: 0%;
        opacity: 100%;
    }
}

#section1 nav{
    background-color: black;
    width: 100%;
    height: 70px;
    position: fixed;
}

#section1 nav ul{
    margin: 0%;
    padding: 20px;
    list-style-type: none;
    overflow: hidden;
    margin-right: 50px;
} 

#section1 nav li{
    display: inline;
    float: right;
}

#section1 nav a{
    color: white;
    padding: 10px 14px;
    text-decoration: none;
}

#section1 .home{
    background-color: #ff9d00;
    border-radius: 0.5rem;
}

#section1 .home:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}

#section1 nav a:hover{
    background-color: #ff9d00;
    transition: 0.5s;
    border-radius: 0.5rem;

}

#section1 .moon{
    margin-left: 500px;
    margin-top: 150px;
}

#section1 .buysell{
    margin-left: 520px;
    margin-top: -200px;
    width: 450px;
    transition: 0.3s;
}

#section1 .buysell:hover{
    width: 470px;
    transition: 0.3s;
    margin-left: 510px;
}

/*   section2   */
#section2{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 100vh;
}

#section2 div img{
    float: right;
    margin-right: 30px;
    margin-top: -170px;
    width: 300px;
    border-radius: 1rem;
    box-shadow: 2px 2px 50px rgb(0, 110, 255);
    transition: 1s;
    
}

#section2 div img:hover{
    box-shadow: 2px 2px 50px #ff9d00;
    transition: 0.5s;
}

#section2 div p{
    color: transparent;
}

#section2 div .talatanilj{
    color: white;
    margin-left: 150px;
    margin-top: 150px;
    text-shadow: 2px 2px 8px black;
}

#section2 .ed{
    color: rgb(0, 110, 255);
    text-decoration: underline  ;
}

#section2 .ed:hover{
    color: #ff9d00;
    transition: 0.3s;
}

#section2 .jay{
    color: rgb(0, 110, 255);
    cursor: pointer;
}

#section2 .fa-brands{
    color: rgb(0, 110, 255);
    font-size: 35px;
    margin-left: -280px;
    margin-top: 25px;
}

#section2 .fa-brands:hover{
    color: #ff9d00;
    transition: 0.5s;
}

#section2 .ngl{
    text-decoration: none;
    color: white;
    margin-left: 200px;
    animation-name: lantiteanimation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.5s;
}

@keyframes lantiteanimation{
    from{
        left: 0%;
        opacity: 0%;
    }

    to{
        left: 0%;
        opacity: 100%;
    }
}

#section2 .ngl:hover{
    color: #ff9d00;
    transition: 0.5s;
    text-decoration: underline;
}

#section2 .play{
    text-decoration: none;
    color: rgb(0, 110, 255);
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 35px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 16px rgb(0, 110, 255);
    margin-left: 585px;
    transition: 0.3s;
}

#section2 .play:hover{
    color: #ff9d00;
    box-shadow: 0px 0px 32px #ff9d00;
    transition: 0.1s;
    font-size: 37px;
    margin-left: 585px;
}

/*  section 3  */
#section3{
    background-image: url(bgstars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1600px;
}

#section3 .bgmoon{
    width: 800px;
    border-radius: 1rem;
    margin-left: 50px;
    margin-top: 150px;
}

#section3 .triviamoon{
    color: white;
    text-shadow: 2px 2px 8px black;
    font-size: 25px;
    margin-left: 90px;
    margin-top: -220px;
}

#section3 .lunar{
    margin-top: 190px;
    margin-left: 650px;
    border-radius: 1rem;
}

#section3 .trivialunar{
    color: white;
    text-shadow: 2px 2px 4px red;
    font-size: 25px;
    margin-left: 675px;
    margin-top: -150px;
}

#section3 .arianne .arianne1{
    width: 350px;
    margin-top: -425px;
    margin-left: 950px;
    border-radius: 50%;
    box-shadow: 2px 2px 128px #808080;
}

#section3 .arinnejay .ariannejayy{
    width: 350px;
    border-radius: 50%;
    margin-top: -500px;
    margin-left: 125px;
    opacity: 90%;
    box-shadow: 2px 2px 128px #808080;
}

#section3 .header{
    color: transparent;
}

#section3 .layo{
    color: #ff9d00;
}

#section3 table{
    border: 3px solid #ff9d00;
    position: unset;
    margin-top: 100px;
    margin-left: 260px;
    text-align: center;
    border-collapse: collapse;
    width: 1000px;
}

#section3 table tr td{
    color: #ff9d00;
    text-shadow: 2px 2px 4px red;
    width: 200px;
    border: 2px solid white;
}

/*   footer   */

#section4{
    background-color: #333;
    height: 170px;
}

#section4 .sheesh{
    width: 250px;
    margin-left: 640px;
}

#section4 .fa-facebook{
    font-size: 30px;
    margin-left: 685px;
    color: #ff9d00;
    margin-top: 10px;
}

#section4 .fa-tiktok{
    font-size: 30px;
    color: #ff9d00;
    margin-left: 30px;
    margin-top: 10px;
}

#section4 .fa-youtube{
    font-size: 30px;
    color: #ff9d00;
    margin-left: 30px;
    margin-top: 10px;   
}

#section4 .copyright{
    font-size: 13px;
    margin-left: 540px;
    margin-top: 20px;
}